<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">  
  <h1> 
   Calculadora Digital!
  </h1>
  <hr>
  <input type="number" placeholder="Ingrese numero" [(ngModel)]="num1">
  <input type="number" placeholder="Ingrese numero" [(ngModel)]="num2">
  <p>El resultado es {{rta}}</p>
<br>
  <button (click)="operacion(num1,num2,'suma')">SUMAR</button>
  <button (click)="operacion(num1,num2,'resta')">RESTAR</button>
  <button (click)="operacion(num1,num2,'multiplica')">MULTIPLICAR</button>
  <button (click)="operacion(num1,num2,'dividir')">DIVIDIR</button>
  <button (click)="operacion(num1,num2,'modulo')">MODULO</button>
  <button (click)="reset()">LIMPIAR</button>
</div>